<nav class="navbar bg-danger">
		<h3 class="navbar-brand text-light">Trending News</h3>
	</nav>

	<div class="jumbotron" style="background-color: #424242">

		<div class="row">
			<div class="offset-md-4 col-md-4">
				<h2 class="lead text-md-center">Search for any topic</h2><br>
				<input type="text" class="form-control" name="" id="search_term"><br>
				<button class="btn btn-danger btn-block" id="search"><i class="fa fa-search"></i> Search</button>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="row" id="result" >
			
		</div>
	</div>
    <script src="/js/news.js"></script>