<h2>Welcome</h2>

  <p class="blocktext">
    Hi, My name is Prabin Singh. I am from Keller, TX. I recently started as Full Stack Web Developer.
    This is my first website and I will be adding different projects in portfolio section which is still on progress. 
    So far this page contains News section which gives you trending news retrieved from New York Times. You are viewing React application running on Node.js express server application. 
    powered by Google Auth. Dont worry, I will be accessing only you Name, email and your profile pic from Google database.
</p>


<Row class="indexbtn">
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
  <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
</Row>

<div id="id01" class="loginModal">
  
  <form class="modal-content animate" action="/login" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="assets/ava.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="exampleInputEmail1"><b>Email</b></label>
      <input type="text" placeholder="Enter email adddress" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<div id="id02" class="registerModal">
  
  <form class="modal-content animate" action="/register" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="assets/ava.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter email adddress" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Register</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<script>
// Get the modal
var loginModal = document.getElementById('id01');
var registerModal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>