<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400"
  rel="stylesheet"
/>

<div id="form_wrapper">
    <div id="form_left">
      <img src="icon.png" alt="computer icon" />
    </div>
    <div id="form_right">
      <h1>Member Login</h1>
      <div class="input_container">
        <i class="fas fa-envelope"></i>
        <input
          placeholder="Email"
          type="email"
          name="Email"
          id="field_email"
          class="input_field"
        />
      </div>
      <div class="input_container">
        <i class="fas fa-lock"></i>
        <input
          placeholder="Password"
          type="password"
          name="Password"
          id="field_password"
          class="input_field"
        />
      </div>
      <input
        type="submit"
        value="Login"
        id="input_submit"
        class="input_field"
      />
      <span>Forgot <a href="#"> Username / Password ?</a></span>
      <span id="create_account">
        <a href="#">Create your account ➡ </a>
      </span>
    </div>
  </div>