body {
    /* make the body full height*/
    height: 100vh;
    /* set our custom font */
    font-family: 'Roboto', sans-serif;
    /* create a linear gradient*/
    background-thumbnail: linear-gradient(
      to right,
      var(--body_gradient_left),
      var(--body_gradient_right)
    );
    display: flex;
  }
  #form_wrapper {
    width: 1000px;
    height: 700px;
    /* this will help us center it*/
    margin: auto;
    background-color: var(--form_bg);
    border-radius: 50px;
    /* make it a grid container*/
    display: grid;
    /* with two columns of same width*/
    grid-template-columns: 1fr 1fr;
    /* with a small gap in between them*/
    grid-gap: 5vw;
    /* add some padding around */
    padding: 5vh 15px;
  }